*
{
    padding: 0;
    border: 0;
}


#chessboard
{
    float: left;
    padding:10px;
    background-color: #5A79B1;
    border:5px solid black;

}

.tile
{
    width: 64px;
    height: 64px;
    float: left;
}

.black
{

    background-color: #191919;
    color:white;
}

.white
{
    background-color: #E8EBEC;
    color:black;

}

.container {
    margin: 0 auto;
    max-width: 300px;
}

.task {
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    background: lightblue;
    border-radius: 10px;
}


